[submodule "z"]
	path = z
	url = https://github.com/rupa/z
[submodule "fzf-git.sh"]
	path = fzf-git.sh
	url = https://github.com/junegunn/fzf-git.sh
[submodule "kickstart"]
	path = kickstart
	url = https://github.com/bryclee/kickstart.nvim
