[user]
    name = Bryan Lee
    email = pygmize.me@gmail.com
[alias]
    graph = log --graph --format=\"%C(auto)%h %C(bold)%an%C(auto)%d %Creset%s %C(italic)%cr%C(reset)\"
    fp = "!f() { git fetch \"$1\" pull/\"$2\"/head:pr-\"$2\"; }; f"
[credential]
    helper = cache
[core]
    excludesfile = ~/.gitignore_global
; [diff]
;     tool = nvimdiff
; [merge]
;     tool = nvimdiff
[hub]
    host = github.paypal.com
    protocol = https
[init]
    defaultBranch = main
[pull]
    ff = only
[push]
    default = upstream
    autoSetupRemote = true
[difftool "vscode"]
    cmd = code --wait --diff $LOCAL $REMOTE
[mergetool "vscode"]
    cmd = code --wait --merge $REMOTE $LOCAL $BASE $MERGED
[include]
    path = ~/.gitconfig_local
