[submodule ".vim/bundle/vim-pathogen"]
	path = .vim/bundle/vim-pathogen
	url = https://github.com/tpope/vim-pathogen
[submodule ".vim/bundle/fzf"]
	path = .vim/bundle/fzf
	url = https://github.com/junegunn/fzf
[submodule ".vim/bundle/fzf.vim"]
	path = .vim/bundle/fzf.vim
	url = https://github.com/junegunn/fzf.vim
