" .ideavimrc is a configuration file for IdeaVim plugin. It uses
"   the same commands as the original .vimrc configuration.
" You can find a list of commands here: https://jb.gg/h38q75
" Find more examples here: https://jb.gg/share-ideavimrc


"" -- Suggested options --
" Show a few lines of context around the cursor. Note that this makes the
" text scroll if you mouse-click near the start or end of the window.
set scrolloff=5

let mapleader=' '   " Set the leader key

" Do incremental searching.
set incsearch
set ignorecase
set smartcase
set hlsearch
set visualbell
set noerrorbells

nnoremap <silent> <leader>h :nohl<CR><Esc>
nnoremap <silent> <Esc> :nohl<CR><Esc><Esc>
" Bind j and k to move by visual line if text is there
nnoremap <silent> j gj
nnoremap <silent> k gk
nnoremap <silent> gj j
nnoremap <silent> gk k
nnoremap <silent> <Down> gj
nnoremap <silent> <Up> gk

nnoremap <silent> <C-j> <C-W>j
nnoremap <silent> <C-k> <C-W>k
nnoremap <silent> <C-h> <C-W>h
nnoremap <silent> <C-l> <C-W>l

nnoremap <leader>c :bd<CR>
nnoremap <leader>w :w<CR>
nnoremap <leader>q <C-w>c<CR>


" Don't use Ex mode, use Q for formatting.
map Q gq

" --- Enable IdeaVim plugins https://jb.gg/ideavim-plugins

" Highlight copied text
Plug 'machakann/vim-highlightedyank'
Plug 'justinmk/vim-sneak'
" Commentary plugin
set commentary
set surround
set argtextobj
set textobj-indent

"" -- Map IDE actions to IdeaVim -- https://jb.gg/abva4t
"" Map \r to the Reformat Code action
"map \r <Action>(ReformatCode)

"" Map <leader>d to start debug
"map <leader>d <Action>(Debug)

"" Map \b to toggle the breakpoint on the current line
"map \b <Action>(ToggleLineBreakpoint)
map <leader>ld <Action>(ShowHoverInfo)
map gr <Action>(ShowUsages)
map gT <Action>(GotoTest)
map gD <Action>(EditorPopupMenu.GoTo)
map <leader>lr <Action>(RenameElement)
map <leader>la <Action>(RefactoringMenu)
map <leader>. <Action>(ShowIntentionActions)

" View
map <leader>vr <Action>(Run)
map <leader>vn <Action>(ShowNavBar)

" Language
map <leader>lg <Action>(GenerateGroup)

" Make files
map <leader>mf <Action>(NewElementSamePlace)

" Search
map <leader>st <Action>(TextSearchAction)
map <leader>sn <Action>(FileStructurePopup)
map <leader>sc <Action>(GotoClass)
map <leader>ss <Action>(GotoSymbol)
map <leader>sf <Action>(GotoFile)
map <leader>sa <Action>(GotoAction)

" Git
map <leader>gg <Action>(VcsGroups)
map <leader>gb <Action>(Annotate)

" For joining strings
set ideajoin

" Navigation
map <leader>e <Action>(SelectInProjectView)
map <leader><leader> <Action>(RecentFiles)
map [d <Action>(GotoPreviousError)
map ]d <Action>(GotoNextError)
map [c <Action>(VcsShowPreviousChangeMarker)
map ]c <Action>(VcsShowNextChangeMarker)
